.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-wrap {
  /* margin-left: 10px; */
  /* background-color: red; */
}
.children-wrap {
  border-left: 1px solid;
  margin-left: 25px;
  margin-block: 10px;
}
